.transactions {
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
}
.transactions th {
  padding: 10px 0;
}
.transactions {
  border-collapse: collapse;
  min-width: 700px;
  margin: 0 auto;
}
.transactions td {
  padding: 10px 0;
}
.transactions thead tr {
  background-color: rgb(0, 200, 255);
  color: #ffffff;
  text-align: center;
}
.transactions tbody td {
  color: gray;
  text-align: center;
}
.transactions th:nth-child(even) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.transactions td:nth-child(even) {
  border-left: 1px solid rgba(221, 221, 221, 0.458);
  border-right: 1px solid rgba(221, 221, 221, 0.458);
}
.transactions tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.458);
}
